<div id="system_top">
    <div class="container_top">
        <div class="sun_top"></div>
        <div class="mercury_top" style="--start:<%= nasaData[0] %>rad"></div>
        <div class="venus_top" style="--start:<%= nasaData[1] %>rad"></div>
        <div class="earth_top" style="--start:<%= nasaData[2] %>rad"></div>
        <div class="mars_top" style="--start:<%= nasaData[3] %>rad"></div>
        <div class="jupiter_top" style="--start:<%= nasaData[4] %>rad"></div>
        <div class="saturn_top" style="--start:<%= nasaData[5] %>rad"></div>
        <div class="uranus_top" style="--start:<%= nasaData[6] %>rad"></div>
        <div class="neptune_top" style="--start:<%= nasaData[7] %>rad"></div>
    </div>
</div>     	