<div id="system_top">
    <div class="container_top">
        <div class="sun_top"></div>
        <div class="mercury_top" style="--start:<%= nasaData[0] %>deg"></div>
        <div class="venus_top" style="--start:<%= nasaData[1] %>deg"></div>
        <div class="earth_top" style="--start:<%= nasaData[2] %>deg"></div>
        <div class="mars_top" style="--start:<%= nasaData[3] %>deg"></div>
        <div class="jupiter_top" style="--start:<%= nasaData[4] %>deg"></div>
        <div class="saturn_top" style="--start:<%= nasaData[5] %>deg"></div>
        <div class="uranus_top" style="--start:<%= nasaData[6] %>deg"></div>
        <div class="neptune_top" style="--start:<%= nasaData[7] %>deg"></div>
    </div>
</div>     	